svg circle:hover {
  fill: steelblue !important;
}

.zoom {
  transition: transform 4s;
  /* Animation */
}

#svgcontainer1 > svg.bubble {
  font-family: Arial;
}

.circle {
  fill: none;
  pointer-events: all;
}

#svgcontainer1 > svg.bubble > g:nth-child(2) > text:nth-child(3):focus {
  fill: black;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

#slider-time{
	text-align: center;
}

.slider-value {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

div#slider-time svg g text {
    fill: black;
    font-size: 15px;
}

div#slider-time svg g .slider .track-inset {
    stroke: black;
}

.slider-text {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 9px;
}

.graph-text {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}