body {
  background-color: #333;
}
rect.bordered {
  stroke: #e6e6e6;
  stroke-width: 2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

td.chart {
  background-color: white;
}

table {
  font: 14px sans-serif;
  vertical-align: middle;
  text-align: left;
  border-collapse: collapse;
}

td,
th {
  padding-top: 2px;
  padding-bottom: 2px;
}
tr {
  background-color: #aaa;
}
tr:first-of-type{
  background-color: #fb0;
}

th {
  padding-left: 10px;
}

th.total {
  text-align: right;
}

td.data {
  padding-left: 10px;
}
td.value {
  text-align: right;
}



.num_tiles {
  width: 30px;
  height: 30px;
  background-color: #fb0;
  color: #333;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
  border: #333;
}

.inner_bar {
  margin: 0 auto;
  color: #333;
  border-bottom: 1px;
  height: 80px;
  width: 100%;
  max-width: 1300px;
}
.logo {
  height: 80px;
  width: 150px;
}
.header-text {
  height: 100%;
  padding: 20px;
  vertical-align: middle;
}
.bar {
  width: 100%;
  background-color: #fb0;
}
.page-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  /*min-height: 100vh;*/
}
.heat-map-wrapper {
  padding: 20px;
  background-color: #444;
}
.first-column-wrapper {
  padding: 20px;
  background-color: #aaa;
  height: 100%;
}
.second-column-wrapper {
  padding: 20px;
  background-color: #bbb;
  height: 100%
  min-height: 366px;
  /* Height of ROW: min-height: -webkit-fill-available; */
}
.heat-map-hover {
  padding-top: 15px;
}
.dataset-picker {
  /*padding-left: 25px;*/
}
.dataset-button {
  margin: 0 25px;
}
.first-highlight{
  background-color: #fb0;
}

.graph {
  fill: #5f89ad;
}

.axis {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}
.timeseries-wrapper{
  background-color: #aaa;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.selected-tab{
  background-color: #fb0;
  outline: none;
  border: none;
}
.back-trans{
  background: transparent;
}
.highlight:nth-child(2){
  background-color: #fb0;
  outline: none;
  border: none;
}
.highlight2:first-child{
  background-color: #fb0;
  outline: none;
  border: none;
}

text {
  font: 15px sans-serif;
}
circle {
    stroke: #565352;
    stroke-width: 1;
}

svgcontainer1{
  background-color: #bbbbbb
}
